# My crap
sample_imgs/

# Log crap
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build crap
*.tsbuildinfo
node_modules
dist
dist-ssr
bun.lock

# Apple crap
.DS_Store

# Editor crap
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
